<%= render 'layouts/navbar' %>

<div style='margin-left:30px; margin-right:30px; margin-bottom:100px'>
  <p style='color:white'>
    00110110 00111000 00100000 00110111 00110100 00100000 <br>
    00110111 00110100 00100000 00110111 00110000 00100000 <br>
    00110111 00110011 00100000 00110011 01100001 00100000 <br>
    00110010 01100110 00100000 00110010 01100110 00100000 <br>
    00110110 00110111 00100000 00110110 01100110 00100000 <br>
    00110110 01100110 00100000 00110010 01100101 00100000 <br>
    00110110 00110111 00100000 00110110 01100011 00100000 <br>
    00110010 01100110 00100000 00110110 01100110 00100000 <br>
    00110110 01100011 00100000 00110100 00110001 00100000 <br>
    00110110 01100110 00100000 00110100 00111000 00100000 <br>
    00110110 01100001
  </p>
</div>