<%= render 'layouts/navbar' %>
<div style="margin-left:30px; margin-right:30px; margin-bottom:100px">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag('E_R.jpg', size: "300x400") %>
    </div>
    <div class="col-md-9">

      <p class="rebecca">One time, there was an epic cat-battle-war between the cats. Mitzy mittons and mutton of course banded together to face off against Dorothea and uhhhh that other one...</p>
      <p class="erik">Let's be honest, you made up a random name because you were too embarrassed to admit that her name is Rebecca Jr</p>
      <p class="rebecca">Shhhhhh.....</p>
      <p class="erik">Rebekah Jr.... Then what happened? I'm on the edge of my seat</p>
      <p class="rebecca">Then M^3  conquered crucial territory that had the apartments supply of catnip and subsequently got extremely high</p>
      <p class="erik">Interesting.... what was the socioeconomic impact of the fall of the reign of Dorothea and Rebekah Jr?  How did this affect your life, your roommate's life, and even your neighbors' lives?  Will D & RJr rise again?</p>
      <p class="rebecca">WELL. That was not the end of the story. The end of the story is that M^3 covered themselves in strawberry jam to 'camouflage' from the enemy and Dorothea and that other one easily ousted them and took over the apartment <br> And previously Dorothea was the alpha cat and after that other one helped her retake the apartment order was restored in the lands</p>
      <p class="erik">Oh mother of mercy, this has some serious game of thrones undertones.  I'm feeling some manipulative cerci undertones coming from  Dorothea.  Kind of makes the m3s feel like Starks.  Was it.... For the watch?</p>
      <p class="rebecca">So glad the game of thrones undertones came through haha. It was for the meow mix. All for the meow mix.</p>
    </div>
  </div>
    
  <br>
  
  <div>
    <img src="https://imgs.xkcd.com/comics/useless.jpg" />
  </div>
  
  <br>
  
  <div>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/H23tUK3z17U" frameborder="0" allowfullscreen></iframe>
  </div>
 
</div>
