<nav class="navbar navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div style="text-align:center">
      <h4 style="text-align:center; color:#008888"><i>Rebecca's Scavenger Hunty... Puzzle... Thing</i></h4>
    </div>
  </div> <!-- class="container-fluid" -->
</nav> <!-- class="navbar navbar-default" role="navigation" -->